html {
    position: relative;
    min-height: 100%;
    padding: 0;
    margin: 0;
}

body
{
    background: url("../img/menu_background.jpg");
    color: whitesmoke;
    margin-bottom: 60px;
}

#container
{
    padding: 10px;
    width: 99%;
}

.header
{
    text-align: center;
}

h1
{

}

ul
{

    padding-left: 0px;
    margin-left: 0px;
}


li
{
    list-style-type: none;
    margin-left: 0;
}

#menu a
{
    display: block;
    text-decoration: none;
    background-color: #1C527F;
    color: whitesmoke;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;

}

#menu a:hover
{
    background: url("../img/79.png");
    transition-duration: 1s;
    padding-left: 40px;
    margin-left: 40px;

}

#footer {
    position: absolute;
    bottom: 0;
    width: 99%;
    height: 60px;
    background: url("../img/79.png");
    text-align: center;
    border-radius: 10px;
    padding-top: 20px;
    margin-bottom: 10px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%)
}
